<launch>
  <arg name="enable_vposer" default="true" />
  <arg name="enable_ik" default="true" />
  <arg name="enable_qp" default="true" />
  <arg name="solve_mocap_body" default="false" />
  <arg name="solve_mocap_motion" default="false" />
  <arg name="load_motion" default="false" />
  <arg name="enable_vertex_color" default="true" />
  <arg name="visualize_normal" default="false" />
  <arg name="device" default="CPU" />

  <arg name="smpl_path" default="$(find smplpp)/data/smpl_male.json" />
  <arg name="vposer_path" default="$(find smplpp)/data/vposer_parameters.json" />
  <arg name="mocap_path" default="$(find smplpp)/data/sample_walk.c3d" />
  <arg name="rosbag_path" default="$(find smplpp)/data/MocapMotion.bag" />

  <node pkg="smplpp" type="node" name="smplpp"
        output="screen" clear_params="true" required="true" >
    <rosparam subst_value="true">
      enable_vposer: $(arg enable_vposer)
      enable_ik: $(arg enable_ik)
      enable_qp: $(arg enable_qp)
      solve_mocap_body: $(arg solve_mocap_body)
      solve_mocap_motion: $(arg solve_mocap_motion)
      load_motion: $(arg load_motion)
      enable_vertex_color: $(arg enable_vertex_color)
      visualize_normal: $(arg visualize_normal)
      device: $(arg device)
      smpl_path: $(arg smpl_path)
      vposer_path: $(arg vposer_path)
      mocap_path: $(arg mocap_path)
      rosbag_path: $(arg rosbag_path)
      initial_pos: [0.0, 0.0, 1.0]
      <!-- initial_rpy: [1.57, 0.0, 1.57] -->
      initial_rpy: [1.57, 0.0, 3.14]
      rate: 30.0
      mocap_frame_idx: 10
      mocap_frame_interval: 1
    </rosparam>
    <rosparam if="$(arg solve_mocap_motion)"
              command="load" file="$(find smplpp)/data/MocapBody.yaml" />
  </node>

  <node if="$(arg enable_ik)"
        pkg="smplpp" type="IkTargetManager.py" name="ik_target_manager" output="screen" >
    <remap from="ik_target_pose" to="smplpp/ik_target_pose" />
  </node>

  <node pkg="rviz" type="rviz" name="$(anon rviz)"
        args="-d $(find smplpp)/rviz/smplpp.rviz" />

  <group unless="$(arg enable_ik)" >
    <node if="$(arg enable_vposer)"
          pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher_latent_pose"
          args="--slider-file $(find smplpp)/rqt/smplpp_latent_pose.yaml"
          output="log" clear_params="true" />
    <node unless="$(arg enable_vposer)"
          pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher_pose"
          args="--slider-file $(find smplpp)/rqt/smplpp_pose.yaml"
          output="log" clear_params="true" />
  </group>

  <group unless="$(arg solve_mocap_body)" >
    <node unless="$(arg solve_mocap_motion)"
          pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher_shape"
          args="--slider-file $(find smplpp)/rqt/smplpp_shape.yaml"
          output="log" clear_params="true" />
  </group>
</launch>
