<launch>
  <node pkg="smplpp" type="smplpp" name="smplpp" output="screen">
    <rosparam subst_value="true">
      model_path: $(find smplpp)/data/smpl_male.json
      device: CPU
      rate: 30.0
    </rosparam>
  </node>

  <node pkg="rviz" type="rviz" name="$(anon rviz)"
        args="-d $(find smplpp)/rviz/smplpp.rviz" />

  <node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher_pose"
        args="--slider-file $(find smplpp)/rqt/smplpp_pose.yaml"
        output="log" clear_params="true" />

  <node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher_shape"
        args="--slider-file $(find smplpp)/rqt/smplpp_shape.yaml"
        output="log" clear_params="true" />
</launch>
