<launch>
  <node pkg="smplpp" type="smplpp" name="smplpp" output="screen">
    <rosparam subst_value="true">
      model_path: $(find smplpp)/data/smpl_male.json
      rate: 1.0
    </rosparam>
  </node>

  <node pkg="rviz" type="rviz" name="$(anon rviz)"
        args="-d $(find smplpp)/rviz/smplpp.rviz" />
</launch>
